In [2]:
%matplotlib inline
import pandas as pd
import os

In [4]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [5]:
path ="C:\\Users\\owner\\Documents\\data"
pwd = os.getcwd()
os.chdir(path)
#titles = pd.DataFrame.from_csv(os.path.basename(file), index_col=None)
#titles.head()
#os.chdir(pwd)
titles=pd.read_csv('titles.csv')
titles

                                          title  year
0                                The Rising Son  1990
1                       The Thousand Plane Raid  1969
2                              Crucea de piatra  1993
3                                       Country  2000
4                                    Gaiking II  2011
5                                   Medusa (IV)  2015
6                The Fresh Air Will Do You Good  2008
7                            Alex in Wonderland  1970
8                                    L'outsider  2016
9                        Do Outro Lado do Mundo  2008
10                                Slave by Name  2017
11                               The Abductress  2014
12                     Poka Makorer Ghar Bosoti  1996
13                                    Hi, Buddy  1943
14                              Los siete locos  1973
15                                   Panic Room  2002
16                        Io sono un autarchico  1976
17                       Shobhna's Seven Nights  2012
18                                   Mahapurush  1965
19                             Maa Durga Shakti  1999
20                                       Patria  1917
21                               Passenger Side  2009
22                  Ang pumatay ng dahil sa iyo  1989
23                         Conflict of Interest  1993
24                                The Syndicate  2011
25                 Suzanne, professeur de flirt  1916
26                                 Arrive Alive  1990
27                        Tera Mera Saath Rahen  2001
28      The Majestic Life of Queen Elizabeth II  2013
29                                   Velvet Rut  2012
...                                         ...   ...
230591                             Grand Street  2014
230592                       Bangkok Love Story  2007
230593                               Dan xin pu  1980
230594                     La zona del silencio  1990
230595            The Legend of Kate Kensington  2015
230596                             Buynyy Terek  1981
230597                        Time of the Comet  2008
230598                                Agreement  1980
230599                      Monsters University  2013
230600                    This Killing Business  2013
230601       Berlina - Eine Reise ins Ungewisse  1991
230602                  Die Herrgottsgrenadiere  1932
230603                  Meglio baciare un cobra  1986
230604         Mein Mann, das Wirtschaftswunder  1961
230605                             Counterpoint  1967
230606                           Den sidste dag  2004
230607               Take This Job and Shove It  1981
230608                   Le temps de l'aventure  2013
230609                     Dead Rising: Endgame  2016
230610                                  Frakchi  2004
230611               Nie bylo slonca tej wiosny  1984
230612              Clara no es nombre de mujer  2012
230613                                  Benzina  2001
230614                       Kasaysayan ng lahi  1973
230615                           Hu tu nu si ji  1982
230616                    Nobody Waved Good-bye  1964
230617                                    E yue  2005
230618                             Lakota Girls  2015
230619                           Kroniki domowe  1997
230620     Death in the Valley of Good and Evil  2018

[230621 rows x 2 columns]

In [6]:
#cast = pd.DataFrame.from_csv('C:\\Users\\owner\\Documents\\data', index_col=None,encoding='utf-8')
#cast.head()
cast=pd.read_csv("cast.csv")
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3611182,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3611183,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3611184,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3611185,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3611186,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3611187,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3611188,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3611189,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3611190,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3611191,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3611192,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3611193,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3611194,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3611195,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3611196,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3611197,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3611198,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3611199,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3611200,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3611201,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3611202,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3611203,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3611204,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3611205,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3611206,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many movies are listed in the titles dataframe?

In [8]:
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [9]:
len(titles)

230621

In [7]:
len(titles)

230621

230621

In [13]:
len(titles)

230621

### What are the earliest two films listed in the titles dataframe?

In [8]:
titles.head(2)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

In [10]:
titles.head(2)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

In [14]:
titles.head(2)

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969

### How many movies have the title "Hamlet"?

In [14]:
t=titles
t=t[t.title == 'Hamlet']
len(t)

18

In [9]:
t=titles
t=t[t.title == 'Hamlet']
len(t)

18

In [11]:
len(titles[titles.title == 'Hamlet'])

18

In [15]:
t=titles
t=t[t.title == 'Hamlet']
len(t)

18

### How many movies are titled "North by Northwest"?

In [15]:
t=titles
t=t[t.title == 'North by Northwest']
len(t)

1

In [10]:
t=titles
t=t[t.title == 'North by Northwest']
len(t)

1

In [16]:
t=titles
t=t[t.title == 'North by Northwest']
len(t)

1

### When was the first movie titled "Hamlet" made?

In [21]:
t=titles
t=t[t.title == 'Hamlet'].sort_values('year').head(1)
t

        title  year
46365  Hamlet  1910

In [20]:
t=titles
t=t[t.title == 'Hamlet'].sort_values('year').head(1)
t

        title  year
46365  Hamlet  1910

In [14]:
t=titles
t=t[t.title == 'Hamlet'].sort_values('year').head(1)
t

        title  year
46365  Hamlet  1910

In [17]:
t=titles
t=t[t.title == 'Hamlet'].sort_values('year').head(1)
t

        title  year
46365  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
t=titles
t=t[t.title == 'Treasure Island'].sort_values('year')
t

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

In [15]:
t=titles
t=t[t.title == 'Treasure Island'].sort_values('year')
t

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

In [19]:
t=titles
t=t[t.title == 'Treasure Island'].sort_values('year')
t

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

### How many movies were made in the year 1950?

In [24]:
t=titles
t=t[t.year == 1950]
len(t)

1093

In [20]:
t= titles
t=t[t.year == 1950]
t
#len(t)

                                                    title  year
70                                       Campo O' Donnell  1950
89                                       Botta e risposta  1950
232                                                Madari  1950
552                                   Un certain monsieur  1950
1004                                    Vom Teufel gejagt  1950
1113                                          The Jackpot  1950
1325                                 This Side of the Law  1950
1573                                  Tanssi yli hautojen  1950
1735                                Atom Man vs. Superman  1950
1854                                 The Sun Sets at Dawn  1950
1944                                    Paolo e Francesca  1950
2241                                   Annie Get Your Gun  1950
2625                                     O Pecado de Nina  1950
2839                                   Hit Parade of 1951  1950
3209                                  Belle of Old Mexico  1950
3338                                              Senritu  1950
3353                                    Gunmen of Abilene  1950
3424                                       Garota Mineira  1950
3426                                    Nancy Goes to Rio  1950
3464                                         Texas Dynamo  1950
3543                                         I fuorilegge  1950
3565                                            Ogni Baku  1950
3661                                     Edong Mapangarap  1950
3729                                     La Marie du port  1950
3842                                       Lyn-fotografen  1950
4164                               Kein Engel ist so rein  1950
4312                                   Comanche Territory  1950
4408                                   Mujeres en mi vida  1950
4528                                 Wenn eine Frau liebt  1950
4805                                    The Sleeping City  1950
...                                                   ...   ...
223483                                        The Nevadan  1950
223548  Kike wadatsumi no koe: Nippon senbotsu gakusei...  1950
223996                                   Southside 1-1000  1950
224083                                         Sasameyuki  1950
224123                                           Le furet  1950
224372                            Code of the Silver Sage  1950
224455                           La danseuse de Marrakech  1950
224664                              Una mujer sin destino  1950
224931                               The Astonished Heart  1950
225100                            Il figlio di d'Artagnan  1950
225470                                 Shadow of the Past  1950
225482                                    The White Tower  1950
225714                              Il sentiero dell'odio  1950
225801                                       Cage of Gold  1950
225946                                     Verlobte Leute  1950
226466                              The Invisible Monster  1950
226496                             Federal Agent at Large  1950
226895                               Matrimonio y mortaja  1950
227204                                         Gadano Bel  1950
227544                                      Captain China  1950
227940                                    Fake's Progress  1950
228207                                            Sangram  1950
228501                    Sazae-san: Nodojiman uta-gassen  1950
228784                                    Key to the City  1950
228924                         Na Zha da zhan Hong Hai Er  1950
229550                                       Dwie brygady  1950
229637                                 La negra Angustias  1950
229697                                              Jogan  1950
230233                                       Rasuna valea  1950
230300                                   Thyella sto faro  1950

[1093 rows x 2 columns]

In [21]:
t=titles 
t=t[t.year == 1950]
len(t)

1093

In [22]:
len(titles[titles.year == 1950)

SyntaxError: invalid syntax (<ipython-input-22-8879eac1c6b2>, line 1)

In [23]:
len(titles[titles.year == 1950])

1093

### How many movies were made in the year 1960?

In [25]:
t=titles
t=t[t.year == 1960]
len(t)

1496

In [21]:
t=titles
t=t[t.year == 1960]
len(t)

1496

In [24]:
len(titles[titles.year == 1960])

1496

### How many movies were made from 1950 through 1959?

In [26]:
t=titles
t=t[t.year//10 == 195]
len(t)

12656

In [27]:
t=titles
len(t[(t.year >=1950) & (t.year <=1959)])

12656

In [24]:

t = titles
len(t[(t.year >= 1950) & (t.year <= 1959)])

12656

In [28]:
t=titles
t=t[t.year//10 == 195]
len(t)

12656

In [25]:
t=titles
t=t[(t.year >= 1950) & (t.year <= 1959)]
len(t)

12656

### In what years has a movie titled "Batman" been released?

In [28]:
t=titles
t=t[t.title == 'Batman']
t

        title  year
55577  Batman  1989
74047  Batman  1943

In [30]:
t=titles
t[t.title == 'Batman']

        title  year
55577  Batman  1989
74047  Batman  1943

In [26]:
t=titles
t=t[t.title == 'Batman']
t.sort_values('year')

        title  year
74047  Batman  1943
55577  Batman  1989

### How many roles were there in the movie "Inception"?

In [29]:
c=cast
c=c[c.title == 'Inception']
len(c)

77

In [33]:
c=cast
c=c[c.title == 'Inception']
len(c)

77

In [27]:
c=cast
c=c[c.title == 'Inception']
len(c)

77

In [31]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3611182,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3611183,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3611184,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3611185,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3611186,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3611187,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3611188,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3611189,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3611190,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3611191,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3611192,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3611193,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3611194,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3611195,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3611196,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3611197,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3611198,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3611199,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3611200,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3611201,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3611202,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3611203,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3611204,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3611205,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3611206,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [30]:
c=cast
c=c[(c.title == 'Inception') & (c.n.isnull())]
len(c)

26

In [36]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.isnull()]
len(c)

26

In [32]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.isnull()]
len(c)

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [33]:
c=cast
c=c[(c.title == 'Inception') & (c.n.notnull())]
len(c)

51

In [37]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.notnull()]
len(c)

51

In [33]:
c=cast
c=c[c.title == 'Inception']
c=c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [38]:
c=cast
c=c[(c.title == 'North by Northwest')]
c=c[c.n.isnotnull()]
c

AttributeError: 'Series' object has no attribute 'isnotnull'

In [39]:
c=cast
c=c[c.title == 'North by Northwest']
c=c[c.n.notnull()]
c=c.sort_values('n')
c

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [51]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [50]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [34]:
c=cast
c=c[c.title == 'North by Northwest']
c=c[c.n.notnull()]
c=c.sort_values('n')
c

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [40]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 1972)]
c.sort_values('n')

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [53]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 1972)]
c.sort_values('n')

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

In [35]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 1972)]
c.sort_values('n')

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [41]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 2007)]
c.sort_values('n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [54]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 2007)]
c.sort_values('n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

In [36]:
c=cast
c=c[(c.title == 'Sleuth') & (c.year == 2007)]
c.sort_values('n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [42]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [55]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

In [37]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1921)]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [43]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [56]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

In [38]:
c=cast
c=c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [45]:
c=cast
c=c[c.character == 'Hamlet']
len(c)

91

In [58]:
c=cast
c=c[c.character == 'Hamlet']
len(c)

91

In [40]:
c=cast
c=c[c.character == 'Hamlet']
len(c)

91

In [59]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3611182,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3611183,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3611184,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3611185,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3611186,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3611187,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3611188,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3611189,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3611190,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3611191,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3611192,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3611193,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3611194,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3611195,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3611196,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3611197,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3611198,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3611199,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3611200,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3611201,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3611202,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3611203,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3611204,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3611205,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3611206,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

### How many people have played an "Ophelia"?

In [46]:
c=cast
c=c[c.character == 'Ophelia']
len(c)

111

In [60]:
c=cast
c=c[c.character == 'Ophelia']
len(c)

111

In [41]:
c=cast
c=c[c.character == 'Ophelia']
len(c)

111

### How many people have played a role called "The Dude"?

In [47]:
c=cast
c=c[c.character == 'The Dude']
len(c)

18

In [61]:
c=cast
c=c[c.character == 'The Dude']
len(c)

18

In [42]:
c=cast
c=c[c.character == 'The Dude']
len(c)

18

### How many people have played a role called "The Stranger"?

In [49]:
c=cast
c=c[c.character == 'The Stranger']
len(c)

208

In [62]:
c=cast
c=c[c.character == 'The Stranger']
len(c)

208

In [43]:
c=cast
c=c[c.character == 'The Stranger']
len(c)

208

### How many roles has Sidney Poitier played throughout his career?

In [50]:
c=cast
c=c[c.name == 'Sidney Poitier']
c

,title,year,name,type,character,n
1751059,A Patch of Blue,1965,Sidney Poitier,actor,Gordon Ralfe,1.0
1751060,A Piece of the Action,1977,Sidney Poitier,actor,Manny Durrell,1.0
1751061,A Raisin in the Sun,1961,Sidney Poitier,actor,Walter Lee Younger,1.0
1751062,A Warm December,1973,Sidney Poitier,actor,Dr. Matt Younger,1.0
1751063,All the Young Men,1960,Sidney Poitier,actor,Sgt. Eddie Towler,2.0
1751064,Band of Angels,1957,Sidney Poitier,actor,Rau-Ru,3.0
1751065,Blackboard Jungle,1955,Sidney Poitier,actor,Gregory W. Miller,10.0
1751066,Brother John,1971,Sidney Poitier,actor,John Kane,1.0
1751067,Buck and the Preacher,1972,Sidney Poitier,actor,Buck,1.0
1751068,"Cry, the Beloved Country",1951,Sidney Poitier,actor,Reverend Msimangu,3.0
1751069,Duel at Diablo,1966,Sidney Poitier,actor,Toller,2.0
1751070,Edge of the City,1957,Sidney Poitier,actor,Tommy Tyler,2.0
1751071,For Love of Ivy,1968,Sidney Poitier,actor,Jack Parks,1.0
1751072,Go Man Go,1954,Sidney Poitier,actor,Inman Jackson,3.0
1751073,"Good-bye, My Lady",1956,Sidney Poitier,actor,Gates Watson,4.0
1751074,Guess Who's Coming to Dinner,1967,Sidney Poitier,actor,John Prentice,2.0
1751075,In the Heat of the Night,1967,Sidney Poitier,actor,Virgil Tibbs,1.0
1751076,Let's Do It Again,1975,Sidney Poitier,actor,Clyde Williams,1.0
1751077,Lilies of the Field,1963,Sidney Poitier,actor,Homer Smith,1.0
1751078,Little Nikita,1988,Sidney Poitier,actor,Roy Parmenter,1.0
1751079,No Way Out,1950,Sidney Poitier,actor,Dr. Luther Brooks,4.0
1751080,Paris Blues,1961,Sidney Poitier,actor,Eddie Cook,3.0
1751081,Porgy and Bess,1959,Sidney Poitier,actor,Porgy,1.0
1751082,Pressure Point,1962,Sidney Poitier,actor,Doctor,1.0
1751083,Red Ball Express,1952,Sidney Poitier,actor,Robertson,5.0
1751084,Sepia Cinderella,1947,Sidney Poitier,actor,Night Club Extra,NaN
1751085,Shoot to Kill,1988,Sidney Poitier,actor,Warren Stantin,1.0
1751086,Sneakers,1992,Sidney Poitier,actor,Donald Crease,4.0
1751087,Something of Value,1957,Sidney Poitier,actor,Kimani Wa Karanja,13.0
1751088,The Bedford Incident,1965,Sidney Poitier,actor,Ben Munceford,2.0
1751089,The Defiant Ones,1958,Sidney Poitier,actor,Noah Cullen,2.0
1751090,The Greatest Story Ever Told,1965,Sidney Poitier,actor,Simon of Cyrene,21.0
1751091,The Jackal,1997,Sidney Poitier,actor,FBI Deputy Director Carter Preston,3.0
1751092,The Long Ships,1964,Sidney Poitier,actor,Aly Mansuh,2.0
1751093,The Lost Man,1969,Sidney Poitier,actor,Jason Higgs,1.0
1751094,The Mark of the Hawk,1957,Sidney Poitier,actor,Obam,2.0
1751095,The Organization,1971,Sidney Poitier,actor,Virgil Tibbs,1.0
1751096,The Slender Thread,1965,Sidney Poitier,actor,Alan Newell,1.0
1751097,The Wilby Conspiracy,1975,Sidney Poitier,actor,Shack Twala,1.0
1751098,They Call Me Mister Tibbs!,1970,Sidney Poitier,actor,Virgil Tibbs,1.0
1751099,"To Sir, with Love",1967,Sidney Poitier,actor,Mark Thackeray,1.0
1751100,Uptown Saturday Night,1974,Sidney Poitier,actor,Steve Jackson,1.0
1751101,Virgin Island,1958,Sidney Poitier,actor,Marcus,3.0

In [59]:
c=cast
c=c[c.name == 'Brad Pitt']
c

,title,year,name,type,character,n
1743885,12 Years a Slave,2013,Brad Pitt,actor,Bass,53.0
1743886,A River Runs Through It,1992,Brad Pitt,actor,Paul Maclean,2.0
1743887,Abby Singer,2003,Brad Pitt,actor,Himself,51.0
1743888,Across the Tracks,1990,Brad Pitt,actor,Joe Maloney,2.0
1743889,Allied,2016,Brad Pitt,actor,Max Vatan,1.0
1743890,Babel,2006,Brad Pitt,actor,Richard,1.0
1743891,Being John Malkovich,1999,Brad Pitt,actor,Himself,NaN
1743892,Burn After Reading,2008,Brad Pitt,actor,Chad Feldheimer,3.0
1743893,By the Sea,2015,Brad Pitt,actor,Roland,1.0
1743894,Confessions of a Dangerous Mind,2002,Brad Pitt,actor,"Brad, Bachelor #1",37.0
1743895,Cool World,1992,Brad Pitt,actor,Detective Frank Harris,3.0
1743896,Cutting Class,1989,Brad Pitt,actor,Dwight Ingalls,3.0
1743897,Fight Club,1999,Brad Pitt,actor,Tyler Durden,2.0
1743898,Full Frontal,2002,Brad Pitt,actor,Himself,53.0
1743899,Fury,2014,Brad Pitt,actor,Don 'Wardaddy' Collier,1.0
1743900,Happy Feet Two,2011,Brad Pitt,actor,Will the Krill,15.0
1743901,Happy Together,1989,Brad Pitt,actor,Brian,8.0
1743902,Hunk,1987,Brad Pitt,actor,Guy at Beach with Drink,NaN
1743903,Inglourious Basterds,2009,Brad Pitt,actor,Lt. Aldo Raine,1.0
1743904,Interview with the Vampire: The Vampire Chroni...,1994,Brad Pitt,actor,Louis,1.0
1743905,Johnny Suede,1991,Brad Pitt,actor,Johnny Suede,1.0
1743906,Kalifornia,1993,Brad Pitt,actor,Early Grayce,1.0
1743907,Killing Them Softly,2012,Brad Pitt,actor,Jackie,1.0
1743908,Legends of the Fall,1994,Brad Pitt,actor,Tristan Ludlow,1.0
1743909,Less Than Zero,1987,Brad Pitt,actor,Partygoer,NaN
1743910,Less Than Zero,1987,Brad Pitt,actor,Preppie Guy at Fight,NaN
1743911,Meet Joe Black,1998,Brad Pitt,actor,Joe Black,1.0
1743912,Meet Joe Black,1998,Brad Pitt,actor,Young Man in Coffee Shop,1.0
1743913,Megamind,2010,Brad Pitt,actor,Metro Man,2.0
1743914,Moneyball,2011,Brad Pitt,actor,Billy Beane,1.0
1743915,Mr. & Mrs. Smith,2005,Brad Pitt,actor,John Smith,1.0
1743916,No Man's Land,1987,Brad Pitt,actor,Waiter,NaN
1743917,Ocean's Eleven,2001,Brad Pitt,actor,Rusty Ryan,7.0
1743918,Ocean's Thirteen,2007,Brad Pitt,actor,Rusty Ryan,2.0
1743919,Ocean's Twelve,2004,Brad Pitt,actor,Rusty Ryan,1.0
1743920,Se7en,1995,Brad Pitt,actor,Mills,4.0
1743921,Seven Years in Tibet,1997,Brad Pitt,actor,Heinrich Harrer,1.0
1743922,Sinbad: Legend of the Seven Seas,2003,Brad Pitt,actor,Sinbad,1.0
1743923,Sleepers,1996,Brad Pitt,actor,Michael,13.0
1743924,Snatch,2000,Brad Pitt,actor,Mickey O'Neil,4.0
1743925,Spy Game,2001,Brad Pitt,actor,Tom Bishop,2.0
1743926,The Assassination of Jesse James by the Coward...,2007,Brad Pitt,actor,Jesse James,1.0
1743927,The Big Short,2015,Brad Pitt,actor,Ben Rickert,41.0
1743928,The Counselor,2013,Brad Pitt,actor,Westray,9.0
1743929,The Curious Case of Benjamin Button,2008,Brad Pitt,actor,Benjamin Button,1.0
1743930,The Dark Side of the Sun,1988,Brad Pitt,actor,Rick,2.0
1743931,The Devil's Own,1997,Brad Pitt,actor,Rory Devaney,2.0
1743932,The Devil's Own,1997,Brad Pitt,actor,Francis Austin McGuire,2.0
1743933,The Favor,1994,Brad Pitt,actor,Elliott Fowler,4.0
1743934,The Mexican,2001,Brad Pitt,actor,Jerry Welbach,1.0
1743935,The Tree of Life,2011,Brad Pitt,actor,Mr. O'Brien,1.0
1743936,Thelma & Louise,1991,Brad Pitt,actor,J.D.,7.0
1743937,Troy,2004,Brad Pitt,actor,Achilles,6.0
1743938,True Romance,1993,Brad Pitt,actor,Floyd - Dick's Roommate,6.0
1743939,Twelve Monkeys,1995,Brad Pitt,actor,Jeffrey Goines,18.0
1743940,War Machine,2017,Brad Pitt,actor,Gen. Stanley A. McChrystal,NaN
1743941,World War Z,2013,Brad Pitt,actor,Gerry Lane,1.0
1743942,World War Z 2,2017,Brad Pitt,actor,Gerry Lane,NaN

In [44]:
c=cast
c=c[c.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [51]:
c=cast
c=c[c.name == 'Judi Dench']
len(c)

55

In [64]:
c=cast
c=c[c.name == 'Judi Dench']
len(c)

55

In [45]:
c=cast
c=c[c.name == 'Judi Dench']
len(c)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [55]:
c=cast
c=c[(c.name == 'Cary Grant') & (c.year // 10 == 194)]
c=c[c.n == 2]
c= c.sort_values('n')
c

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [54]:
c=cast
c=c[(c.name == 'Cary Grant') & (c.year // 10 == 194)]
c=c[c.n == 2]
c= c.sort_values('n')
c

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [66]:
c=cast
c=c[(c.name == 'Cary Grant') & (c.year // 10 == 194)]
c=c[c.n == 2]
c= c.sort_values('n')
c

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [46]:
c=cast
c=c[(c.name == 'Cary Grant') & (c.year // 10 == 194)]
c = c[c.n == 2]
c = c.sort_values('n')
c

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [68]:
c=cast
c=c[(c.name == 'Cary Grant') & (c.year // 10 == 194)]
c=c[c.n ==1]
c.sort_values('year')

,title,year,name,type,character,n
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [58]:
c=cast
c=c[(c.name == 'Brad Pitt') & (c.year // 10 == 194)]
c=c[c.n == 1]
c.sort_values('year')

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

### How many roles were available for actors in the 1950s?

In [56]:
c=cast
c=c[(c.year//10 == 195) & (c.type == 'actor')]
len(c)

154727

In [69]:
c=cast
c=c[(c.year//10 == 195) & (c.type == 'actor')]
len(c)

154727

In [70]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actor']
len(c)

154727

In [50]:
c=cast
c=c[(c.year // 10 == 195) & (c.type == 'actor')]
len(c)

154727

### How many roles were avilable for actresses in the 1950s?

In [57]:
c=cast
c=c[(c.year // 10 == 195) & (c.type == 'actress')]
len(c)

56259

In [71]:
c=cast
c=c[(c.year//10 == 195) & (c.type == 'actress')]
len(c)

56259

In [72]:
c = cast
c = c[c.year // 10 == 195]
c = c[c.type == 'actress']
len(c)

56259

In [51]:
c=cast
c=c[(c.type == 'actress') & (c.year // 10 == 195)]
len(c)

56259

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [58]:
c=cast
c=c[(c.year <= 1980) & (c.n == 1)]
len(c)

63924

In [74]:
c=cast
c=c[c.year <= 1980]
c=c[c.n == 1]
len(c)
#c.sort_values('year')

63924

In [75]:
c = cast
c = c[c.year <= 1980]
c = c[c.n == 1]
len(c)

63924

In [52]:
c=cast
c=c[(c.year <= 1980) & (c.n == 1)]
len(c)

63924

### How many non-leading roles were available through from the beginning of film history through 1980?

In [59]:
c=cast
c=c[(c.year <= 1980) & (c.n != 1)]
len(c)

1094780

In [76]:
c = cast
c = c[c.year <= 1980]
c = c[c.n != 1]
len(c)

1094780

In [53]:
c=cast
c=c[c.year <= 1980]
c=c[c.n != 1]
len(c)

1094780

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [60]:
c=cast
c=c[(c.year <= 1980) & (c.n.isnull())]
len(c)

438086

In [77]:
c=cast
c=c[c.year <= 1980]
c=c[c.n.isnull()]
len(c)

438086

In [78]:

c = cast
c = c[c.year <= 1980]
c = c[c.n.isnull()]
len(c)

438086

In [54]:
c=cast
c=c[(c.year <= 1980) & (c.n.isnull())]
len(c)

438086

In [6]:
cast

,title,year,name,type,character,n
0,Closet Monster,2015,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015,$hutter,actor,1988 Opera House Patron,NaN
5,Straight Outta Compton,2015,$hutter,actor,Club Patron,NaN
6,Straight Outta Compton,2015,$hutter,actor,Dopeman,NaN
7,For Thy Love 2,2009,Bee Moe $lim,actor,Thug 1,NaN
8,"Lapis, Ballpen at Diploma, a True to Life Journey",2014,Jori ' Danilo' Jurado Jr.,actor,Jaime (young),9.0
9,Desire (III),2014,Syaiful 'Ariffin,actor,Actor Playing Eteocles from 'Antigone',NaN
10,When the Man Went South,2014,Taipaleti 'Atu'ake,actor,Two Palms - Ua'i Paame,8.0
11,Little Angel (Angelita),2015,Michael 'babeepower' Viera,actor,Chico,9.0
12,Mixing Nia,1998,Michael 'babeepower' Viera,actor,Rapper,NaN
13,The Replacements,2000,Steven 'Bear'Boyd,actor,Defensive Tackle - Washington Sentinels,NaN
14,All Out Dysfunktion!,2016,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
15,Gook,2017,Kirlew 'bliss' Vilbon,actor,Bliss,NaN
16,My Song for You,2010,George 'Bootsy' Thomas,actor,Cooley's Customer,16.0
17,My Song for You,2010,George 'Bootsy' Thomas,actor,Celebration Guest,16.0
18,Hustle Beach,2017,Pete 'Boretta' Torres,actor,Tony,NaN
19,Mariano Mison... NBI,1997,Joseph 'Byron' Sese,actor,Putik's Son,31.0
20,Natas es Satan,1977,Ramon 'Cartucho' Pena,actor,Nigth Club Owner,NaN
21,B-Girl,2009,Jesse 'Casper' Brown,actor,Battle Judge,25.0
22,Battle of the Year,2013,Jesse 'Casper' Brown,actor,Rebel,9.0
23,Honey 2,2011,Jesse 'Casper' Brown,actor,Freestyle Dancer,73.0
24,Kickin' It Old Skool,2007,Jesse 'Casper' Brown,actor,Cole,10.0
25,Step Up All In,2014,Jesse 'Casper' Brown,actor,Grim Knight Dancer,61.0
26,The LXD: The Secrets of the Ra,2011,Jesse 'Casper' Brown,actor,Fangz,NaN
27,Todo x Sara,2014,Gil 'Colibri'Viera,actor,Llavero,NaN
28,Barrio Gangsters,2009,Marcelino 'Dibujo' Torres,actor,Dibujo,NaN
29,"Cornmeal, Gunpowder, Ham Hocks and Guitar Strings",2015,Donnie 'Dicky' Clemson,actor,Jeb Kinney,NaN
...,...,...,...,...,...,...
3611182,Askin kesisme noktasi,1990,Zuhal ?st?ntas,actress,Hira Ana,NaN
3611183,Dislanmis/Lekeli melek,1993,Zuhal ?st?ntas,actress,Fatma,NaN
3611184,Bhaag Milkha Bhaag,2013,Pr?ity ?upala,actress,Journalist (2013),NaN
3611185,From Sydney with Love,2012,Pr?ity ?upala,actress,Shruti (2012),NaN
3611186,Orange,2010,Pr?ity ?upala,actress,Usha (2010),NaN
3611187,Sex and the City 2,2010,Pr?ity ?upala,actress,Shopper (2010),NaN
3611188,Singh Is Kinng,2008,Pr?ity ?upala,actress,Puja (2008),NaN
3611189,Thalaivaa,2013,Pr?ity ?upala,actress,Pooja (2013),NaN
3611190,The Sky Has Fallen,2009,Pr?ity ?upala,actress,Skylar,NaN
3611191,Virsa,2010,Pr?ity ?upala,actress,Prema,NaN
3611192,Recep Ivedik 4,2014,Berna ??kaleler,actress,Simge,NaN
3611193,Gise Memuru,2010,Sevin? ??ok,actress,Afar Shouting Woman,18.0
3611194,Issiz Adam,2008,Sevin? ??ok,actress,Ece,NaN
3611195,Niceland (Population. 1.000.002),2004,Hugr?n ?orfinnsd?ttir,actress,Diana,10.0
3611196,Eldfjall,2011,Katla M. ?orgeirsd?ttir,actress,Home Nurse,NaN
3611197,Svanurinn,2017,Katla M. ?orgeirsd?ttir,actress,?l?f,NaN
3611198,Nei er ekkert svar,1995,Gu?r?n B. ?orsteinsd?ttir,actress,Part?gestir,46.0
3611199,Agnes,1995,Ingibj?rg ?orsteinsd?ttir,actress,Kona,25.0
3611200,Beowulf & Grendel,2005,Steinunn ?l?na ?orsteinsd?ttir,actress,Wealtheow,15.0
3611201,Dansinn,1998,Lilja Gu?r?n ?orvaldsd?ttir,actress,S?slumannafr?in,13.0
3611202,Foreldrar,2007,Lilja Gu?r?n ?orvaldsd?ttir,actress,Katrin Eldri,NaN
3611203,Rokland,2011,Lilja Gu?r?n ?orvaldsd?ttir,actress,A?albj?rg - Dagga's Mother,NaN
3611204,XL,2013,Lilja Gu?r?n ?orvaldsd?ttir,actress,Tengdamamma,NaN
3611205,Niceland (Population. 1.000.002),2004,Steinunn ?orvaldsd?ttir,actress,Factory Worker,21.0
3611206,Stuttur Frakki,1993,Sveinbj?rg ??rhallsd?ttir,actress,Flugfreyja,24.0
3611207,Foxtrot,1988,Lilja ??risd?ttir,actress,D?ra,24.0
3611208,Niceland (Population. 1.000.002),2004,Sigr??ur J?na ??risd?ttir,actress,Woman in Bus,26.0
3611209,Skammdegi,1985,Dalla ??r?ard?ttir,actress,Hj?krunarkona,9.0
3611210,U.S.S.S.S...,2003,Krist?n Andrea ??r?ard?ttir,actress,Afgr.dama ? bens?nst??,17.0
3611211,Bye Bye Blue Bird,1999,Rosa ? R?gvu,actress,Pensionatv?rtinde,NaN

In [5]:
titles

                                          title  year
0                                The Rising Son  1990
1                       The Thousand Plane Raid  1969
2                              Crucea de piatra  1993
3                                       Country  2000
4                                    Gaiking II  2011
5                                   Medusa (IV)  2015
6                The Fresh Air Will Do You Good  2008
7                            Alex in Wonderland  1970
8                                    L'outsider  2016
9                        Do Outro Lado do Mundo  2008
10                                Slave by Name  2017
11                               The Abductress  2014
12                     Poka Makorer Ghar Bosoti  1996
13                                    Hi, Buddy  1943
14                              Los siete locos  1973
15                                   Panic Room  2002
16                        Io sono un autarchico  1976
17                       Shobhna's Seven Nights  2012
18                                   Mahapurush  1965
19                             Maa Durga Shakti  1999
20                                       Patria  1917
21                               Passenger Side  2009
22                  Ang pumatay ng dahil sa iyo  1989
23                         Conflict of Interest  1993
24                                The Syndicate  2011
25                 Suzanne, professeur de flirt  1916
26                                 Arrive Alive  1990
27                        Tera Mera Saath Rahen  2001
28      The Majestic Life of Queen Elizabeth II  2013
29                                   Velvet Rut  2012
...                                         ...   ...
230591                             Grand Street  2014
230592                       Bangkok Love Story  2007
230593                               Dan xin pu  1980
230594                     La zona del silencio  1990
230595            The Legend of Kate Kensington  2015
230596                             Buynyy Terek  1981
230597                        Time of the Comet  2008
230598                                Agreement  1980
230599                      Monsters University  2013
230600                    This Killing Business  2013
230601       Berlina - Eine Reise ins Ungewisse  1991
230602                  Die Herrgottsgrenadiere  1932
230603                  Meglio baciare un cobra  1986
230604         Mein Mann, das Wirtschaftswunder  1961
230605                             Counterpoint  1967
230606                           Den sidste dag  2004
230607               Take This Job and Shove It  1981
230608                   Le temps de l'aventure  2013
230609                     Dead Rising: Endgame  2016
230610                                  Frakchi  2004
230611               Nie bylo slonca tej wiosny  1984
230612              Clara no es nombre de mujer  2012
230613                                  Benzina  2001
230614                       Kasaysayan ng lahi  1973
230615                           Hu tu nu si ji  1982
230616                    Nobody Waved Good-bye  1964
230617                                    E yue  2005
230618                             Lakota Girls  2015
230619                           Kroniki domowe  1997
230620     Death in the Valley of Good and Evil  2018

[230621 rows x 2 columns]